body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.orange_highlight{
    color: orange;
}
p{
    color: dimgray;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 5px;
}
.half-width img{
    width: 100%;
}
.top-banner{
   background-repeat: no-repeat;
    background-image: url("images/top-banner.png");
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link_button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 800px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
}
.single_experience{
    box-shadow: 10px 10px 40px  gray;
    border-radius: 10px;
    height: 80%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 2;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 2;
}
.footer p{
    text-align: center;
}